.tooltip {
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);    
    box-shadow: 0 0 0 2px var(--font-color-subtitle), 0 0 0 6px rgba(0, 0, 0, 0.6);    
    padding: 0.5rem;
    color: var(--font-color);
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    font-size: 0.875rem;
    max-width: 200px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    text-align: center;
    top: 0;
    left: 0;
}